<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
</head>
<body>
    <h1>Профиль</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
        <br>
    <form method="POST" action= "{% url 'home' %}">
        {% csrf_token %}
        <button type="submit">Назад</button>
    </form>

    <h2>Фото Профиля</h2>
    {% if user.profile.image %}
        <img src="{{ user.profile.image.url }}" alt="Profile Image" style="max-width: 200px;">
    {% else %}
        <p>No profile image uploaded.</p>
    {% endif %}
</body>
</html>