{% extends "base.html" %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %}
<div class="profile">
    <h2>Фото профиля</h2>
    {% if user.image %}
        <img src="{{ user.image.url }}" alt="Фото профиля" style="max-width: 200px;">
    {% else %}
        <p>Фото профиля отсутствует.</p>
    {% endif %}
    <p><strong>Имя: </strong>{{ user.user }}</p>
    <p><strong>Возраст: </strong>{{ user.age }}</p>
    <p><strong>Пол: </strong>{{ user.gender }}</p>
    <p><strong>Город: </strong>{{ user.sity }}</p>
    <p><strong>О себе: </strong>{{ user.about_me }}</p>
    <p><strong>Цель знакомства: </strong>{{ user.the_purpose_of_dating }}</p>
    <p><strong>Предпочтения в партнёре: </strong>{{ user.preferences }}</p>
    <p><strong>Ссылка на соц.сеть: </strong>{{ user.message }}</p>

    <form method="post" action="{% url 'user_list' %}">
        {% csrf_token %}
        <button type="submit">Назад</button>
    </form><br>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <button type="submit">На главную</button>
    </form>
</div>
{% endblock %}